*{
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;

}

.form-registro{
    width: 350px;
    background-color: rgb(185, 228, 238);
    padding: 60px;
    margin: auto;
    margin-top: 300px;
    border-radius: 20px;
    border: 1px solid white;
}

.control{
    width: 100%;
    padding: 8px;
    margin-bottom: 7px;
    border-radius: 8px;
    border: 1px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.boton{
    width: 50%;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid rgb(161, 205, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
}